<p>post works!</p>
<table class="table table-dark">
    <thead>
      <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Body</th>
        <th>User Id</th>
      </tr>
    </thead>
    <tbody>
      
      <tr *ngFor="let post of posts">
        <td>{{ post.id}}</td>
        <td>{{ post.title}}</td>
        <td>{{ post.body}}</td>
        <td>{{ post.userId}}</td>
      </tr>
      
    </tbody>
  </table>
<ol class="list-group list-group-numbered">
    <li *ngFor="let post of posts" class="list-group-item">{{post.title}}</li>
</ol>
