<div class="container">
    <app-products></app-products>
    <app-consumer1></app-consumer1>
    <app-consumer2></app-consumer2>
    <!-- <app-pipes-example></app-pipes-example>
   <app-attribute-directives></app-attribute-directives>
    <app-anime></app-anime>
   <app-header 
   [header_title]="title" 
   [header_slogan]="'Lets Learn Angular'" 
   (childEvent)="handleChildEvent($event)"
   ></app-header>
    <h2>{{username}}</h2>
    <h4>{{message}}</h4> -->
    <!-- <input type="text" name="username" [value]="username" >-->
    <!-- <input type="text" name="username" [(ngModel)]="username">-->
    <!-- <input type="text" name="username" (change)="changeEvent($event)">
    <button (click)='changeUsername("Kabiraj Shrestha")'>change Username</button>

    <app-content></app-content>
    <app-footer></app-footer> -->
</div>